* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

main a {
    border: solid 3px white;
    border-radius: 2.25em;
    font-size: 1em;
    background-color: white;
    font-family: helvetica;
    padding: 8px 28px;
}

main {
    padding: 0 21px;
}


/*header*/

header {
    display: block;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: orange;
    transition: top 0.3s;
    height: 70px;
}

header h1 {
    position: relative;  
    font-size: 2em;
    padding-top: 0.5em;
    left: 14em;
    color: white;
    font-family: sans-serif;
}


.c-preview_title {
    width: 4em;
    padding: 0 1em;
}


.navbalk {
    display: flex;
    justify-content: space-between;
}

.icons li:hover {
    border-radius: 2em;
    background: #f5f5f5;
}




/* The side navigation menu */
/* bron: www.w3school.com */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: helvetica;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: helvetica;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav #closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    transition-duration: 1000ms;
    transition-property: background, transform;
    transition-timing-function: cubic-bezier(1, .11, .22, 1.41);
    transition-delay: 2s;
}

.sidenav #closbtn {
    transform: rotate(360deg);
}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: 3px solid black;
}


.main {
    transition: margin-right .5s;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }

    .main {
        box-shadow: rgba(0, 0, 0, 0.8);
    }
}





/*section1*/

section {
    position: relative;
    background-color: darkcyan;
    padding: 1em;
    margin-top: 0.5em;
    border-radius: 2.25em;
    max-width: 50em;
    
}

section:nth-of-type(1) article {
    background-image: url(../images/studentenhuis1.jpg);
    background-size: cover;
    margin: 0.5em;
    height: 250px;
    width: 250px;
}

section:nth-of-type(2) article {
    background-image: url(../images/studentenhuis2.jpg);
    background-size: cover;
    margin: 0.5em;
    height: 250px;
    width: 250px;
}

section:nth-of-type(3) article {
    background-image: url(../images/studentenhuis3.jpg);
    background-size: cover;
    margin: 0.5em;
    height: 250px;
    width: 250px;
}

section:nth-of-type(4) article {
    background-image: url(../images/studentenhuis4.jpeg);
    background-size: cover;
    margin: 0.5em;
    height: 250px;
    width: 250px;
}

section p {
    width: 100%;
    color: white;
    font-size: 1em;
    top: 11em;
    left: 2em;
    font-family: helvetica;
}


section h2 {
    padding-bottom: 1em;
    font-family: sans-serif;
}

section h3 {
    position: absolute;
    left: 7em;
    top: 3em;
    background-color: red;
    padding: 0.2em;
    font-size: 3em;
    max-width: 3em;
    color: white;
    font-family: sans-serif;
}


section a {
    position: relative;
    top: 6em;
    left: 18em;
    color: white;
    background: black;
    font-size: 2em;
    transition: 0.8s;
}



section a:hover {
    color: black;
    background: white;
    border: 4px solid black;
}

section a:last-of-type {
    margin-left: 0.1em;
}
